http:
  middlewares:
    # -------------------------------------------------------------------------------------------------
    # 1. BASE SECURITY
    # Use this for: Public Websites
    # -------------------------------------------------------------------------------------------------
    sec-base:
      headers:
        # HSTS (Strict-Transport-Security)
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        
        # Anti-Sniffing (X-Content-Type-Options)
        contentTypeNosniff: true
        
        # Clickjacking Protection (X-Frame-Options)
        frameDeny: true
        customFrameOptionsValue: "SAMEORIGIN"
        
        # Referrer Policy
        referrerPolicy: "strict-origin-when-cross-origin"
        
        # Cross-Site Scripting (X-XSS-Protection)
        # Modern standard is "0" to disable buggy browser filters, as you had in your config.
        customResponseHeaders:
          X-XSS-Protection: "0"

    # -------------------------------------------------------------------------------------------------
    # 2. APP SECURITY
    # Use this for: Adminer, Roundcube, OCIS
    # -------------------------------------------------------------------------------------------------
    sec-apps:
      chain:
        middlewares:
          - sec-base       # Inherit all base rules
          - sec-apps-extra # Add strict rules

    sec-apps-extra:
      headers:
        customResponseHeaders:
          # Hide from Search Engines
          X-Robots-Tag: "none"
          # Prevent file downloads from running automatically
          X-Download-Options: "noopen"
          # Flash/Adobe security
          X-Permitted-Cross-Domain-Policies: "none"

# -------------------------------------------------------------------------------------------------
# 3. SSL HARDENING
# -------------------------------------------------------------------------------------------------
tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305