http:
  middlewares:
    # -------------------------------------------------------------------------------------------------
    # 1. SECURITY MODULES
    # -------------------------------------------------------------------------------------------------
    
    # Rate Limiting (DoS Protection)
    rate-limit:
      rateLimit:
        average: 100
        burst: 50

    # Base Security Headers (HSTS, Anti-Sniffing)
    sec-headers:
      headers:
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        contentTypeNosniff: true
        frameDeny: true
        customFrameOptionsValue: "SAMEORIGIN"
        referrerPolicy: "strict-origin-when-cross-origin"
        customResponseHeaders:
          X-XSS-Protection: "0"

    # Strict App Headers (No Robots, No Downloads)
    sec-strict-headers:
      headers:
        customResponseHeaders:
          X-Robots-Tag: "none"
          X-Download-Options: "noopen"
          X-Permitted-Cross-Domain-Policies: "none"

    # -------------------------------------------------------------------------------------------------
    # 2. MIDDLEWARE CHAINS
    # -------------------------------------------------------------------------------------------------
    
    # Use for: Public Websites (e.g., aaronsoft.de)
    sec-public:
      chain:
        middlewares:
          - rate-limit
          - sec-headers

    # Use for: Internal Tools (e.g., Adminer, Traefik Dashboard)
    sec-admin:
      chain:
        middlewares:
          - rate-limit
          - sec-headers
          - sec-strict-headers

tls:
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305